.App {
  text-align: center;
}

.wrapper {
  align-items: center;
  background-color: rgb(19, 32, 64);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.top20Div {
  background-color: rgb(31, 42, 74);
  border-radius: 1rem;
  padding: 2rem 4rem;
  position: relative;
  width: 550px;
}

.list {
  display: grid;
  gap: 0.25rem 1rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: max-content;
}

.listItem {
  font-size: calc(5px + 2vmin);
  list-style: decimal inside;
  text-align: left;
}

.amount {
  margin-left: 1rem;
}

li.listItem:nth-child(-n + 9) .amount {
  margin-left: calc(1.5vmin + 1rem);
}

.logo {
  margin: 6vmin 0;
  width: 40vmin;
}

.toggleSwitch {
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 60px;
}

.toggleSwitch input[type="checkbox"] {
  display: none;
}

.toggleSwitch .switch {
  background-image: url("/public/solanaGradient.png");
  background-size: cover;
  border-radius: 25px;
  bottom: 0;
  content: "SOL";
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.toggleSwitch .switch::before {
  align-items: center;
  background-color: #14f195;
  border-radius: 50%;
  color: rgb(19, 32, 64);
  content: "";
  content: "SOL";
  display: flex;
  font-size: 9px;
  height: 26px;
  justify-content: center;
  left: 2px;
  position: absolute;
  transition: all 0.3s ease;
  top: 2px;
  width: 26px;
}

.toggleSwitch input[type="checkbox"]:checked+.switch::before {
  content: "USD";
  transform: translateX(30px);
}

@media screen and (max-width: 768px) {
  .top20Div {
    padding: 1rem;
    width: calc(90% - 4rem);
  }

  .list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    width: max-content;
  }

  .toggleSwitch {
    height: 20px;
    right: 1rem;
    top: 1rem;
    width: 40px;
  }

  .toggleSwitch .switch::before {
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    font-size: 7px;
  }

  .toggleSwitch input[type="checkbox"]:checked+.switch::before {
    transform: translateX(20px);
  }
}